*{
    margin: 3mm;
    padding: 8mm;
    background: #E5FCF5;
}


body{
    /* width: 1728px; */
    /* height: 1080px; */
    /* background: #FEFFFE; */
    background: url(image/images.jpeg), url(image/images.jpeg)
    border-radius: 4px;
}

h1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 115px;
    line-height: 138px;
    display: flex;
    align-items: center;
    color: #750D37;
}

p1{
    position: absolute;
    width: 240px;
    height: 125px;
    left: 271px;
    top: 420px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #210124;
    opacity: 0.9;
    transform: rotate(90deg);
}


h2{
    /* width: 562px; */
    /* height: 70px; */
    left: 583px;
    top: 73px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 67px;
    display: flex;
    align-items: center;
    color: #750D37;

}

p{
    width: 562px;
    height: 144px;
    left: 583px;
    top: 166px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #210124;
}

.birthday{
    /* margin-right: 32px !important; */
    text-align: left;
    width: 406px;
    height: 54px;
    left: 583px;
    top: 420px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #5e1e64;
}

button{
    width: 562px;
    height: 54px;
    left: 583px;
    top: 420px;
    background: #FEFFFE;
    border-radius: 4px;
}
image{
    width: 393px;
    height: 384px;
    left: 1274px;
    top: 14px;
    background: url(image/images.jpeg), url(image/images.jpeg), #C4C4C4;
    border-radius: 4px;
}
.output{
    font-size: 48px;
    font-weight: 700;
    color: #750D37;
    text-align: center;
}